@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-opensan;
    overflow-x: hidden;
  }
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white bg-opacity-80 backdrop-blur-sm dark:bg-dark dark:opacity-80;
  //backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-dark dark:bg-white;
}

.burger-aktif > span:nth-child(1) {
  @apply rotate-45;
}

.burger-aktif > span:nth-child(2) {
  @apply scale-0;
}

.burger-aktif > span:nth-child(3) {
  @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3;
}

#biodata #cursor {
  display: inline-block;
  background-color: Black;
  /* margin-left: 0.1rem; */
  width: 3px;
  animation: blink 1s infinite;
  @apply dark:bg-slate-500;
}
#biodata #cursor .typing {
  animation: none;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* .cursor {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
  z-index: 9999;
  border: 3px solid #64748b;
  transition: all 0.5s ease-out;
  animation: moveCursor1 1s infinite alternate;
}

.expand {
  background: transparent;
  animation: moveCursor2 0.5s forwards;
  border: 3px solid #64748b;
} 

@keyframes moveCursor1 {
  from {
    transform: scale(2);
  }

  to {
    transform: scale(0.9);
  }
}

@keyframes moveCursor2 {
  0% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(3);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}*/

.svgblob {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  width: fit-content;
  outline: 2px #64748b solid; /* warna border */
  margin: 1rem auto 5rem;
  box-sizing: border-box;
  border-radius: 5%;
  border: 3px transparent solid;
  @apply lg:w-3/4;
}

.svgblob svg {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  display: block;
  transform-origin: 50% 50%;
  transition: transform 0.75s 0s;
  overflow: hidden;
}

[id^="blobmask"] rect {
  fill: #eee;
  width: 100%;
  height: 100%;
}

[id^="blobmask"] path {
  fill: #000;
}

[id="blobmask-3"] rect {
  fill: #fff;
}

.svgblob:hover svg {
  transition-duration: 2s;
  transform: scale(12);
}

.svgblob path {
  animation: rotatepath 47s linear 0s infinite;
}

.svgblob img {
  position: relative;
  z-index: 1;
  /* width: 350px;
  height: 370px; */
  display: block;
  overflow: hidden;
}

@keyframes rotatepath {
  0% {
    transform: translate(50%, 50%) scale(2.4) rotateZ(360deg);
  }
  100% {
    transform: translate(50%, 50%) scale(2.4) rotateZ(0deg);
  }
}

/* Bloob Animated 2 */
.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background: linear-gradient(180deg, #14b8a6 31.77%, #64748b 100%);
  mix-blend-mode: color-dodge;
  -webkit-animation: move 20s infinite alternate;
  animation: move 20s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

.blob:hover {
  width: 520px;
  height: 520px;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.6),
    inset 100px 100px 0 0px #fa709a, inset 200px 200px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
}

@-webkit-keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(700px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(700px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

/* Media Query untuk layar sedang */
@media (max-width: 1024px) {
  .blob {
    width: 350px;
    height: 350px;
  }

  .blob:hover {
    width: 390px;
    height: 390px;
  }

  @-webkit-keyframes move {
    from {
      transform: translate(0, -10px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
    to {
      transform: translate(0, 400px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }

  @keyframes move {
    from {
      transform: translate(0, -10px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
    to {
      transform: translate(0, 400px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
}

/* Media Query untuk layar kecil */
@media (max-width: 640px) {
  .blob {
    width: 200px;
    height: 200px;
  }

  .blob:hover {
    width: 250px;
    height: 250px;
  }

  @-webkit-keyframes move {
    from {
      transform: translate(0, -10px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
    to {
      transform: translate(0, 550px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }

  @keyframes move {
    from {
      transform: translate(0, -10px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
    to {
      transform: translate(0, 550px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
}

.blob-container {
  overflow: hidden;
  position: relative;
}

.square {
  position: relative;
  margin: 0 10px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply lg:h-[500px] lg:w-[500px];
}

.square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  @apply dark:border-2 dark:border-solid dark:border-black;
  border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
  transition: 0.5s;
  animation: animate 6s linear infinite;
}

.projek1:hover span:nth-child(1) {
  border: none;
  background: #88ab8e;
  @apply dark:bg-[#8C6A5D];
}

.projek2:hover span:nth-child(1) {
  border: none;
  background: #43919b;
  @apply dark:bg-[#512B81];
}

.projek3:hover span:nth-child(1) {
  border: none;
  background: #5ad1cd;
}

.square span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  @apply dark:border-2 dark:border-solid dark:border-black;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.projek1:hover span:nth-child(2) {
  border: none;
  background: #88ab8e;
  @apply dark:bg-[#8C6A5D];
}

.projek2:hover span:nth-child(2) {
  border: none;
  background: #43919b;
  @apply dark:bg-[#512B81];
}

.projek3:hover span:nth-child(2) {
  border: none;
  background: #5ad1cd;
}

.square span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  @apply dark:border-2 dark:border-solid dark:border-black;
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  transition: 0.5s;
  animation: animate2 10s linear infinite;
}

.projek1:hover span:nth-child(3) {
  border: none;
  background: #88ab8e;
  @apply dark:bg-[#8C6A5D];
}

.projek2:hover span:nth-child(3) {
  border: none;
  background: #43919b;
  @apply dark:bg-[#512B81];
}

.projek3:hover span:nth-child(3) {
  border: none;
  background: #5ad1cd;
}

.content {
  position: relative;
  padding: 40px 60px;
  color: #fff;
  text-align: center;
  transition: 0.5s;
  z-index: 1000;
}

/* .content a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid #fff;
  padding: 6px 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
} */

.content a:hover {
  background: white;
  color: #333;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@layer base {
  @font-face {
    font-family: "Wedding";
    font-weight: normal;
    font-style: normal;
    src: url("/font/wedding.woff2") format("woff2"),
      url("/font/wedding.woff") format("woff");
  }

  @font-face {
    font-family: "Alex Brush";
    font-weight: normal;
    font-style: normal;
    src: url("/font/alexbrush.woff2") format("woff2"),
      url("/font/alexbrush.woff") format("woff");
  }

  @font-face {
    font-family: "Black Jack";
    font-weight: normal;
    font-style: normal;
    src: url("/font/blackjack.woff2") format("woff2"),
      url("/font/blackjack.woff") format("woff");
  }

  @font-face {
    font-family: "Dancing Script OT";
    font-weight: normal;
    font-style: normal;
    src: url("/font/dancingscript.woff2") format("woff2"),
      url("/font/dancingscript.woff") format("woff");
  }

  @font-face {
    font-family: "Great Vibes";
    font-weight: normal;
    font-style: normal;
    src: url("/font/greatvibes.woff2") format("woff2"),
      url("/font/greatvibes.woff") format("woff");
  }

  @font-face {
    font-family: "Inter Thin";
    font-weight: normal;
    font-style: normal;
    src: url("/font/inter.woff2") format("woff2"),
      url("/font/inter.woff") format("woff");
  }

  @font-face {
    font-family: "Nature Beauty Personal Use";
    font-weight: normal;
    font-style: normal;
    src: url("/font/naturebeauty.woff2") format("woff2"),
      url("/font/naturebeauty.woff") format("woff");
  }

  @font-face {
    font-family: "Open Sans Light";
    font-weight: normal;
    font-style: normal;
    src: url("/font/opensans.woff2") format("woff2"),
      url("/font/opensans.woff") format("woff");
  }

  @font-face {
    font-family: "PT Mono";
    font-weight: normal;
    font-style: normal;
    src: url("/font/ptmono.woff2") format("woff2"),
      url("/font/ptmono.woff") format("woff");
  }

  @font-face {
    font-family: "Weddingday Personal Use Regular";
    font-weight: normal;
    font-style: normal;
    src: url("/font/weddingday.woff2") format("woff2"),
      url("/font/weddingday.woff") format("woff");
  }

  @font-face {
    font-family: "White Dream";
    font-weight: normal;
    font-style: normal;
    src: url("/font/white_dream.woff2") format("woff2"),
      url("/font/white_dream.woff") format("woff");
  }
}
